<template name="User_Header">

  <div style="width: 100%;height: 100px; background-image: url('/images/preview.png');background-size: cover;min-width:551px">
    <div style="float:right;margin-top: 10px; margin-right: 10px">
      {{> Cas_Login }}
    </div>
    <div class="ui center aligned container" style="padding-top: 15px">
      <a href="{{pathFor "Home_Page" username=routeUserName}}"><p class="ui text" style="color: #fff; font-size: 48px;text-shadow: -2px 0 #024731, 0 2px #024731, 2px 0 #024731, 0 -2px #024731;">Manoa Marketplace</p></a>
    </div>

  </div>
  <div class="ui inverted stackable teal menu" style="border-radius: 0;background-color: #024731; margin-top: 0;">
    <a class="item" href="{{pathFor "Post_Item_Page" username=routeUserName}}">
    List an Item
    </a>
    <a class="item" href="{{pathFor "Filter_Page" username=routeUserName}}">
    Browse Listings
    </a>
    <a class="item" href="{{pathFor "Admin_Home_Page" username=routeUserName}}">
    *Admin Page*
    </a>

    <div class="right item" style="padding-top: 12px; padding-bottom: 0">
      <form class="ui form search-form">
        <div class="field" style="float: left;">
          <input type="text" name="Search" placeholder="Search" style="border-top-right-radius: 0;border-bottom-right-radius: 0">
        </div>
        <button class="ui button" type="submit" style="border: 1px solid #e0e1e2;border-top-left-radius: 0;border-bottom-left-radius: 0">Search</button>
      </form>
    </div>

  </div>
</template>