<template name="User_Header">

    <div class="overlay" id="eula" style="{{#if acceptedEULA}}display: none;{{else}}display: block;{{/if}}">
      <div class="ui container">
        <div class="ui segment" style="margin-top: 25px">
          <h3>Terms of Use Notice</h3>
          <p>In order to use Manoa Marketplace, you must agree to our terms of use.</p>
          <ul>
            <li>Do not try to sell items that are illegal or do not fit into one of Manoa Markeplace's predefined categories.</li>
            <li>Please be respectful in all communications with others through Manoa Marketplace.</li>
            <li>Do not haggle prices with sellers. The list price is to be taken as the sell price.</li>
            <li>Do not spam messages or otherwise abuse the services provided by Manoa Marketplace.</li>
            <li>Please take down your sold listings within a timely fashion following sale.</li>
            <li>Failure to abide by Manoa Marketplace's terms of use is grounds for an account ban or further punishments depending on the offence</li>
          </ul>
          <p>In addition you agree to follow the UH Manoa Code of Conduct in regard to all actions preformed while using Manoa Markeplace and its services.</p>
          <button class="ui primary button agree">Agree</button>
        </div>
      </div>
    </div>

  <div style="width: 100%;height: 100px; background-image: url('/images/preview.png');background-size: cover;min-width:551px">
    <div style="float:right;margin-top: 10px; margin-right: 10px">
      {{> Cas_Login }}
    </div>
    <div class="ui center aligned container" style="padding-top: 15px">

      <a href="{{pathFor 'Home_Page' username=routeUserName}}"><p class="ui text" style="color: #fff; font-size: 48px;text-shadow: -2px 0 #024731, 0 2px #024731, 2px 0 #024731, 0 -2px #024731;">Manoa Marketplace</p></a>

    </div>

  </div>
  <div class="ui inverted stackable teal menu" style="border-radius: 0;background-color: #024731; margin-top: 0;">
    <a class="item" href="{{pathFor 'Post_Item_Page' username=routeUserName}}">
    List an Item
    </a>

    <a class="item" href="{{pathFor 'Filter_Page' username=routeUserName}}">
    Browse Listings
    </a>


    <div class="right item" style="padding-top: 12px; padding-bottom: 0">
      <form class="ui form search-form">
        <div class="field" style="float: left;">
          <input type="text" name="Search" placeholder="Search" style="border-top-right-radius: 0;border-bottom-right-radius: 0">
        </div>
        <button class="ui button" type="submit" style="border: 1px solid #e0e1e2;border-top-left-radius: 0;border-bottom-left-radius: 0">Search</button>
      </form>
    </div>

  </div>
</template>