<template name="Categories_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Interest(s)</label>
    <select multiple="" class="ui dropdown" name="categories">
      <option value="">Select Category(s)</option>
        <option value="textbook">Textbooks</option>
        <option value="electronics">Electronics</option>
        <option value="supplies">Supplies</option>
        <option value="houseware">Houseware</option>
        <option value="clothing">Clothing</option>
    </select>
  </div>
</template>