<template name="Directory_Profile">

  <div class="card">

  {{#if Template.subscriptionsReady}}
    <div class="content">
      <div class="ui right floated mini button delete">Delete
      </div>
      <div class="ui right floated mini"><a href="{{pathFor 'Update_Item_Page' _id=profile._id}}">Edit</a>
      </div>
      <div class="header">
        {{ profile.itemName }}
      </div>
      <div class="meta">
        {{ profile.username}}
      </div>
      <img class="center floated ui image" src="{{ profile.picture }}">
      <div class="description">
        {{ profile.description }}
      </div>
      <div class="phoneNumber">
        {{ profile.phoneNumber }}
      </div>
      <div style="margin-top: 10px">
        {{#each category in profile.categories}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{category}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div style="margin-top: 5px" class="ui left floated header column">${{ profile.askingPrice }}</div>
        <div class="column"><a class="ui right floated primary button" href="mailto:{{ profile.email}}">Inquire</a></div>
        {{#if profile.github }}
          <div class="column"><a href="https://github.com/{{ profile.github}}"><i class="big github icon"></i></a></div>
        {{/if}}
        {{#if profile.facebook }}
          <div class="column"><a href="https://facebook.com/{{ profile.facebook}}"><i class="big facebook icon"></i></a></div>
        {{/if}}
        {{#if profile.instagram }}
          <div class="column"><a href="https://instagram.com/{{ profile.instagram}}"><i class="big instagram icon"></i></a></div>
        {{/if}}
      </div>
    </div>
  {{/if}}
  </div>

</template>