<template name="Directory_Profile">

  <div class="card">

  {{#if Template.subscriptionsReady}}
    <div class="content">

      <div class="header">
        {{ profile.itemName }}
      </div>
      <div class="meta">
        {{ profile.username}}
      </div>
      <img class="center floated ui image" src="{{ profile.picture }}">
      <div class="description">
        {{ profile.description }}
      </div>
      <div class="phoneNumber">
        {{ profile.phoneNumber }}
      </div>
      <div style="margin-top: 10px">
        {{#each category in profile.categories}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{category}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div style="margin-top: 5px" class="ui left floated header column">${{ profile.askingPrice }}</div>

        {{#if isOwner profile}}
        <div class="column"><a class="ui right floated grey button" href="{{pathFor 'Edit_Item_Page' _id=profile._id username=profile.username}}">Update</a></div>
        {{else}}
        <div class="column"><a class="ui right floated primary button inquire" href="mailto:{{ profile.email}}">Inquire</a></div>
        {{/if}}

      </div>
    </div>

    <div class="overlay" id="{{profile._id}}Overlay">
      <div class="ui container">
        <div class="ui segment" style="margin-top: 25px; margin-bottom: 15px" id="{{profile._id}}Form">
          <div class="ui dividing header">
            Contact {{profile.username}} regarding "{{profile.itemName}}"
          </div>
          <form class="ui equal width form user-message-form {{ errorClass }}">
            {{> TextArea_Form_Control label="Message" name="Message" required=true placeholder="Type your message here." errorMessage=(fieldError "message")}}
            <p>Your account name and default email are automatically included with this message. Please abide by our terms of use when contacting the seller. Future contact regarding this message will be sent by the seller to the UH email associated with your account unless otherwise specified in the message.</p>
            <button class="ui primary button" type="submit">Send Message</button>
            <button class="ui orange button cancelButton" type="click">Cancel</button>
          </form>
        </div>
        <div class="ui segment" style="margin-top: 25px; margin-bottom: 15px;display: none" id="{{profile._id}}MessageConfirmation">
          <p class="ui centered text">Your message has been sent. Please allow some time for the seller to respond. Thank you for your patience</p>
          <button class="ui primary button cancelButton" type="click">Close</button>
        </div>
      </div>
    </div>

  {{/if}}
  </div>

</template>